@model DogViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Html.SexIcon(Model)
            <dog-name name="@Model.Name" titleId="@Model.TitleId"></dog-name>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center">Medical</h4>
                <dl class="dl-horizontal">
                    <dt>CNM</dt>
                    <dd>Clear</dd>
                    <dt>Eyes</dt>
                    <dd>20:20</dd>
                    <dt>Elbows</dt>
                    <dd>1.5</dd>
                    <dt>Hips</dt>
                    <dd>1.3</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Medical</h4>
                <dl class="dl-horizontal">
                    <dt>CNM</dt>
                    <dd>@Model.CNM</dd>
                    <dt>Eyes</dt>
                    <dd>@Model.EyeCertificate</dd>
                    <dt>Elbows</dt>
                    <dd>@Model.ElbowScore</dd>
                    <dt>Hips</dt>
                    <dd>@Model.HipScore</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Medical</h4>
                <dl class="dl-horizontal">
                    <dt>CNM</dt>
                    <dd>@Model.CNM</dd>
                    <dt>Eyes</dt>
                    <dd>@Model.EyeCertificate</dd>
                    <dt>Elbows</dt>
                    <dd>@Model.ElbowScore</dd>
                    <dt>Hips</dt>
                    <dd>@Model.HipScore</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
