@model PedigreeParentageViewModel

@{
    var remainingGenerations = Model.Generations - Model.Generation;

    var leftColumn = remainingGenerations > 0 ? (12 / (remainingGenerations + 1)) : 12;
    var rightColumn = 12 - leftColumn;
}

<div class="row is-flex">
    <div class="col-md-@leftColumn">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    @Html.SexIcon(Model.Dog)
                    <dog-name name="@Model.Dog.Name" titleId="@Model.Dog.TitleId"></dog-name>
                </h5>
            </div>
        </div>
    </div>
    @if (rightColumn > 0)
    {
        <div class="col-md-@rightColumn">
            <!-- Sire -->
            @if (Model.Sire != null)
            {
                @Html.Partial("_Parentage", Model.Sire)
            }

            <!-- Dam -->
            @if (Model.Dam != null)
            {
                @Html.Partial("_Parentage", Model.Dam)
            }
        </div>
    }
</div>